<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"] - E-Commerce</title>
</head>

<body class="bg-light">
    <div class="d-flex flex-column min-vh-100">

        <header>
            @await Html.PartialAsync("Partials/Account/_Message")
            @await Html.PartialAsync("Partials/Site/_Topbar")
            @await Component.InvokeAsync("Navbar")
        </header>

        <main class="flex-fill">
            @RenderBody()
        </main>

        @await Html.PartialAsync("Partials/Site/_Footer")

        <script src="~/js/fslightbox.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
        <script src="~/js/cartHub.js"></script>
        <script src="~/js/productHub.js"></script>

        @RenderSection("Scripts", required : false)

    </div>

</body>

</html>