@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Yetkisiz Erişim Engeli";
}

@section Bar {
    
<li class="breadcrumb-item">
    Yetkisiz Erişim
</li>
}

 
<section class="mt-3">
    <div class="container">
        <div class="alert alert-danger">Yetkisiz Giriş Engeli !</div>
    </div>
</section>
