@model Product
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = @Model.ProductName + " Ürününüzü Silmek üzeresiniz!";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <p>
                    @Model.ProductName ürünü silmek istediğinize emin misiniz?
                </p>
                <form asp-action="DeleteConfirm" method="post">
                    <input type="hidden" name="id" value="@Model.Id">
                    <button type="submit" class="btn btn-danger">Sil</button>
                    <a asp-action="Index" class="btn btn-primary">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>